name: Deploy Astro to Azure Static Web Apps

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ["main"]
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build Astro Site
        env:
            PUBLIC_API_BASE_URL: ${{ vars.PUBLIC_API_BASE_URL }}
            PUBLIC_MAPTILER_API_KEY: ${{ vars.PUBLIC_MAPTILER_API_KEY }}
            PUBLIC_CESIUM_ION_TOKEN: ${{ vars.PUBLIC_CESIUM_ION_TOKEN }}
        run: npm run build

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ AZURE_STATIC_WEB_APPS_API_TOKEN_HAPPY_HILL_061B4410F }}
          action: "upload"

          # Important Astro paths
          app_location: "/"
          output_location: "dist"

          # If you ever add an API via SWA:
          api_location: ""
